.delivery {
  margin-top: 20px;
  background-color: #f2f2f2;
  padding: 23px 15px;
  position: relative;
}

.delivery__title {
  margin: 0;
  color: #343434;
  font-family: "Officina Serif C";
  font-size: 24px;
  font-weight: 700;
}

.delivery__price-text,
.delivery__number-text {
  margin: 0;
  margin-top: 30px;
  font-size: 14px;
  font-weight: 300;
  line-height: 21.94px;
}

.delivery__price-text b,
.delivery__number-text b {
  font-size: 16px;
  font-weight: 700;
  line-height: 18.95px;
}

.delivery__number-text {
  margin-bottom: 90px;
  position: relative;
}

.delivery__number-text::after {
  content: "";
  position: absolute;
  width: 80%;
  max-width: 420px;
  height: 35px;
  left: 45%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -70px;
  background-image: url("../img/deliveryIcon.png"), url("../img/deliveryIcon.png"), url("../img/deliveryIcon.png");
  background-position: 50% 50%, 0% 50%, 100% 50%;
  background-repeat: no-repeat, no-repeat, no-repeat;
}

@media (min-width: 768px) {
  .delivery {
    margin-left: 83px;
    margin-top: 0;
    padding: 42px 0 56px;
  }

  .deliver__wraper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 444px;
    margin: 0 auto;
  }

  .delivery__title {
    font-size: 30px;
    text-align: center;
  }

  .delivery__price-text,
  .delivery__number-text {
    font-size: 18px;
    line-height: 23.94px;
    text-align: center;
  }

  .delivery__price-text b,
  .delivery__number-text b {
    font-size: 18px;
  }

  .delivery__price-text {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    margin-top: 0;
  }

  .delivery__number-text {
    margin-top: 20px;
    margin-bottom: 125px;
  }

  .delivery__number-text::after {
    content: "";
    position: absolute;
    width: 530px;
    max-width: 530px;
    height: 48px;
    left: 50%;
    top: 90px;
    background-image: url("../img/deliveryIconBig.png"), url("../img/deliveryIconBig.png"), url("../img/deliveryIconBig.png"), url("../img/deliveryIconBig.png");
    background-position: 0% 50%, 33% 50%, 66% 50%, 100% 50%;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  }
}

@media (min-width: 1200px) {
  .delivery {
    margin-left: 220px;
  }
}

@media (min-width: 1330px) {
  .delivery {
    margin-left: 664px;
  }
}
