.product-description {
  padding-top: 30px;
}

.product-description__title {
  padding: 0;
  padding-left: 13px;
  margin: 0;
  margin-bottom: 25px;
  font-family: "Officina Serif C";
  font-size: 24px;
  font-weight: 700;
}

.product-description__text {
  padding: 0;
  padding-left: 13px;
  padding-right: 11px;
  margin: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 21.94px;
  margin-bottom: 45px;
}

.product-description__text--reverse {
  display: none;
}

.product-description__img {
  position: relative;
  width: 100%;
  max-width: 829px;
  margin-bottom: 25px;
  min-height: 210px;
}

@media (min-width: 768px) {
  .product-description {
    margin-left: 83px;
    padding: 58px 25px 0 24px;
    margin-bottom: 64px;
  }

  .product-description__title {
    font-size: 30px;
    text-align: center;
    padding: 0;
  }

  .product-description__text.product-description__text--reverse {
    display: block;
    line-height: 23.94px;
    text-align: center;
    padding: 0;
  }

  .product-description__text {
    display: none;
  }

  .product-description__img {
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .product-description {
    margin-left: 220px;
    padding-left: 20px;
    padding-right: 27px;
  }
}

@media (min-width: 1330px) {
  .product-description {
    margin-left: 664px;
    padding-top: 54px;
  }
}
