.footer__information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 55px;
}

.footer__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #494949;
  font-size: 15px;
  font-weight: 300;
  line-height: 29.92px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.production-nav {
  margin-right: 70px;
  margin-bottom: 20px;
}

.production-nav__title,
.projects-nav__title {
  font-weight: 700;
  margin: 0;
  margin-bottom: 5px;
}

.production-nav__list,
.projects-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.production-nav__list a,
.projects-nav__list a {
  color: #494949;
}

.footer-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #494949;
  font-size: 15px;
  font-weight: 300;
  line-height: 21.94px;
}

.footer-contacts__address {
  margin-right: 90px;
}

.production-addres {
  margin-bottom: 30px;
}

.production-addres__title,
.office__addres__title {
  margin: 0;
  font-weight: 700;
  margin-bottom: 5px;
}

.production-addres__text a,
.office__addres__text a {
  display: block;
  color: #006022;
}

.footer-contacts__links {
  color: #494949;
  font-size: 15px;
  font-weight: 300;
  line-height: 29.92px;
}

.footer-contacts__tel {
  font-weight: 700;
  color: #494949;
  display: block;
}

.footer-contacts__time,
.footer-contacts__mail {
  display: block;
}

.footer-contacts__mail {
  color: #006022;
}

.footer-social {
  margin-top: 40px;
  max-width: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-social__button {
  background-repeat: no-repeat;
  background-position: center center;
}

.Vkontakte-btn {
  width: 24px;
  height: 14px;
  background-image: url("../img/footerVk.png");
}

.Instagram-btn {
  background-image: url("../img/footerIg.png");
  width: 17px;
  height: 17px;
}

.Facebook-btn {
  background-image: url("../img/footerFb.png");
  width: 11px;
  height: 21px;
}

.footer__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer__synapse>img {
  display: inline-block;
}

.footer__synapse>span {
  color: #494949;
  font-family: "PT Sans";
  font-size: 12px;
  font-weight: 400;
  text-decoration: underline;
}

.customer__copyright {
  font-family: "PT Sans";
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  margin: 0;
}

@media (min-width: 1330px) {
  .footer.hidden-mobile {
    margin-left: 664px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0px 35px 25px 25px;
  }
}
