.product-floor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 25px;
}

.product-floor__wraper:nth-child(1) {
  margin-right: 40px;
}

.product-floor__title {
  color: #343434;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  display: block;
  margin-bottom: 20px;
}

.product-characteristics {
  margin-top: 55px;
  padding-left: 10px;
  padding-right: 20px;
}

.characteristics-list {
  padding: 0;
  margin: 0;
  margin-left: 80px;
  list-style: none;
  min-height: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
}

.characteristics-list::before {
  position: absolute;
  content: "";
  min-height: 235px;
  width: 53px;
  background-image: url("../img/charIcons.png");
  left: -70px;
}

.characteristics-list__item {
  font-size: 16px;
  font-weight: 300;
  line-height: 21.94px;
  font-family: "Roboto";
  font-weight: 300;
}

.characteristics-list__item strong {
  font-weight: 700;
  display: block;
}

.product-characteristics__price {
  margin: 0;
  padding: 0;
  margin-top: 50px;
  margin-bottom: 35px;
}

.price__title {
  margin: 0;
  margin-bottom: 21px;
  color: #343434;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
}

.price__text {
  color: #006022;
  font-family: "Officina Serif C";
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 35px;
}

.order__button {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 255px;
  height: 66px;
  color: #fff;
  font-family: "Officina Serif C";
  font-size: 22px;
  font-weight: 700;
  line-height: 66px;
  text-align: center;
  background-image: url("../img/buttonBg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 110%;
  background-color: #006022;
  margin-bottom: 37px;
  cursor: pointer;
}

.product-characteristics__text {
  color: #1c1c1c;
  font-size: 16px;
  font-weight: 300;
  line-height: 23.94px;
  margin: 0;
  margin-bottom: 31px;
}



@media (min-width: 768px) {
  .page-main {
    margin-top: 0;
    margin-left: 83px;
    padding: 20px 10px;
  }

  .page-main__breadcrumbs.hidden-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .page-main__title {
    font-size: 60px;
    font-weight: 700;
    line-height: 60px;
    margin-left: 0;
    margin-bottom: 35px;
  }

  .page-main__items-wraper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .product-photos {
    min-width: 638px;
  }

  .page-main__slider {
    width: 638px;
  }

  .product-floor {
    padding: 0;
    margin-top: 45px;
  }

  .product-floor__title {
    font-size: 18px;
    margin-bottom: 25px;
  }

  .product-information {
    margin-left: 18px;
    width: 255px;
  }

  .social {
    margin-top: 0;
    margin-bottom: 60px;
    padding: 0;
  }

  .social__share {
    font-size: 18px;
  }

  .product-characteristics {
    padding: 0;
  }

  .characteristics-list__item {
    font-size: 18px;
  }

  .price__title {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  .page-main {
    margin-left: 220px;
    padding-left: 20px;
  }

  .product-photos {
    min-width: 674px;
  }

  .page-main__slider {
    width: 674px;
  }

  .product-floor {
    padding-right: 37px;
  }
}

@media (min-width: 1330px) {
  .page-main {
    margin-left: 664px;
    padding-left: 28px;
    margin-bottom: 30px;
  }

  .product-information {
    width: 402px;
    height: 100vh;
    margin: 0;
    position: fixed;
    top: 0;
    left: 262px;
    background-color: #f7f7f7;
    padding: 30px 50px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .social {
    margin-bottom: 85px;
  }

  .order__button {
    margin-bottom: 60px;
  }

  .page-main__title {
    margin-bottom: 42px;
  }

  .product-photos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .page-main__slider {
    width: 773px;
  }

  .carousel {
    margin-bottom: 30px;
  }

  .product-floor {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-right: 0;
    padding-left: 50px;
    margin-top: 0;
  }

  .product-floor__wraper:nth-child(1) {
    margin-bottom: 40px;
  }
}

@media (min-width: 1850px) {
  .product-floor {
    max-width: 320px;
  }

  .product-floor__wraper:nth-child(1) {
    margin-right: 0px;
  }
}

.complectation__title {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 25px 15px;
  color: #1c1c1c;
  font-family: "Officina Serif C";
  font-size: 22px;
  font-weight: 700;
  min-height: 104px;
  background-color: #f2f2f2;
}

.complectation__list {
  padding: 0;
  margin: 0;
  list-style: none;
  color: #343434;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
}

.complectation__item {
  padding: 15px 15px 12px;
}

.complectation__item:nth-child(2n) {
  background-color: #f2f2f2;
}

.complectation__price {
  height: 104px;
  max-width: 541px;
  line-height: 104px;
  text-align: center;
  color: #fff;
  font-family: "Officina Serif C";
  font-size: 30px;
  font-weight: 700;
  background-image: url("../img/complectationImg1.jpg");
  background-repeat: no-repeat;
}

.complectation__wraper:nth-child(2) .complectation__price {
  background-image: url("../img/complectationImg2.jpg");
}

@media (min-width: 768px) {
  .complectation {
    margin-top: 0;
    margin-left: 83px;
    padding: 20px 10px 28px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .complectation__title {
    padding-left: 125px;
    position: relative;
  }

  .complectation__title:before {
    content: "";
    position: absolute;
    width: 53px;
    height: 44px;
    left: 10%;
    right: 30%;
    background-image: url("../img/bazeCompIcon.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  .complectation__wraper:nth-child(2) .complectation__title:before {
    background-image: url("../img/optCompIcon.png");
  }

  .complectation__wraper {
    max-width: 457px;
    margin-right: 7px;
  }

  .complectation__wraper:nth-child(2n) {
    margin-right: 0px;
  }

  .complectation__price {
    margin: 0;
  }
}

@media (min-width: 1200px) {
  .complectation {
    margin-left: 220px;
    padding-left: 20px;
  }

  .complectation__wraper {
    margin-right: 22px;
  }
}

@media (min-width: 1330px) {
  .complectation {
    margin-left: 664px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 0px;
    padding-bottom: 45px;
    padding-left: 28px;
  }

  .complectation__wraper {
    min-width: 541px;
    margin-right: 28px;
  }
}
