//color
$accent-color: #006022;
$black: #000000;
$white: #ffffff;

//bp
$tablet-width: 768px;
$notebook-width: 1200px;
$pc-width: 1330px;
$wideScreen-width: 1850px;

//fonts
$font-main: "Roboto", "PT Sans", sans-serif;

//resolution
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;